.example-container 
{
    display: flex;
    flex-direction: column;
    width: 1000px;
    min-width: 300px;
    position: relative;
    margin: 0 auto;
  }

  .mat-table
   {
    overflow: auto;
  }
  .example-full-width 
  {
    width: 100%;
  }

  .example-table 
  {
    overflow-x: auto;
    min-height: 300px;
  }
