<div class="example-container" *ngFor="let block of formModel.blocks"  ><!--config_blocks 是数组,遍历将取出每一个配置块-->
  <p><strong>{{block.name}}</strong></p>
  
  
  
  <div  *ngFor="let item of block.items" >


    <div *ngIf="item.isSelect">
      <mat-form-field class="example-full-width">
        <mat-select placeholder="{{item.name}}"   [(ngModel)]="item.value">
          <mat-option *ngFor="let select of item.selects" [value]="select.text" >
            {{select.text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="!item.isSelect">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="{{item.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{item.unit}})" [(ngModel)]="item.value" name="dd" type="{{item.type}}">
      </mat-form-field>
    </div>



  </div>


</div>


<div class="bexample-container ">
  <button mat-raised-button color="primary"   (click)="save()">保存</button>
</div>

{{diagnostic}}
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 
  